################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BusSolOnDB/v15/Server/sqlite3/storage.ide-wal
/.vs/BusSolOnDB/v15/Server/sqlite3/storage.ide-shm
/.vs/BusSolOnDB/v15/Server/sqlite3/storage.ide
/.vs/BusSolOnDB/v15/Server/sqlite3/db.lock
